body {
    --primary-color: #EFEFEF;
    --secondary-color: #CAEBF2 ;
    --tertiary-color: #FF3B3F;
    background-color: var(--primary-color);
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin: 0;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    
}
#main {
    text-align: center;
    margin-bottom: 100px;
}
#title {
    border: 5px solid black;
    font-size: 3em;
    padding: 10px;
}
.subtitle {
    margin-top: 0;
    font-size: 1.5em;
}

#image {
    max-width: 844px;
    width: 75%;
    /*border: 25px solid var(--tertiary-color);*/
}
#img-caption {
    padding: 25px;
}
#tribute-info {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.main-info {
    margin: 0;
    background-color: var(--secondary-color);
    padding: 25px;
    border: solid black;
}
#achievements {
    grid-column: 2/3;
    border-width: 10px 5px 5px 10px;
    
}
#fun-facts {
    border-width: 10px 10px 5px 5px;
    grid-column: 3/4;
}
ul {
    text-align: left;
    line-height: 2em;
}
#more-info {
    border-width: 5px 10px 10px 10px;
    margin-top: 0;
    grid-column: 2/4;
}
@media (max-width: 950px) {
    body {
        font-size: 16px;
    }
    
}
@media (max-width: 750px) {
    #tribute-info {
        grid-template-columns: 10% 40% 40% 10%;
    }
    #main {
        margin-bottom: 30px;
    }
    header {
        margin: 30px auto 30px auto;
    }
}
@media (max-width: 550px) {
    #main {
        margin-bottom: 20px;
    }
    body {
        font-size: 14px;
    }
    /*#image {
        border-width: 15px;
    }*/
    .main-info {
        padding: 10px;
    }
    #achievements {
        border-width: 5px 2.5px 2.5px 5px;
    }
    #fun-facts {
        border-width: 5px 5px 2.5px 2.5px;
    }
    #more-info {
        border-width: 2.5px 5px 5px 5px;
    }
}
@media (max-width: 480px) {
    #main {
        margin-bottom: 0px;
    }
    #tribute-info {
        grid-template-columns: 0% 50% 50% 0%;
    }
}
@media (max-width: 360px) {
    body {
        font-size: 12px;
    }
}